/*
button style (PM)
container/body styling

font specs (PM) linked to variables on var page

images (profile pics)
images commented out on index page (will consider??)
images (container two of index page)
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Raleway', sans-serif;
}
h1,
h2 {
  font-family: 'Raleway', sans-serif;
}
h2 {
  font-size: 2.8rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
body {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.header {
  width: 100%;
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: space-between;
}
.header nav {
  display: flex;
  width: 40%;
  justify-content: flex-end;
  padding: 0 auto;
  align-items: center;
  margin-right: 30px;
}
.header nav a {
  text-decoration: none;
  border: black solid 2px;
  width: 30%;
  height: 35px;
  align-items: center;
  text-align: center;
  padding: 5px;
  margin: 0 auto;
  background-color: #1C1C1C;
  color: #EDEDED;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 7px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}
.placeholderLogo {
  width: 25%;
  border-radius: 15px;
  margin-left: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
footer {
  border: black solid 2px;
  width: 100%;
  margin: 0 auto;
  height: 100px;
  background-color: #1C1C1C;
  color: #FAC7BF;
}
body {
  background-color: #EDEDED;
}
.introduction {
  width: 90%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-radius: 20px;
  background-color: white;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.introduction .introText {
  display: flex;
  flex-direction: column;
  margin: 25px;
  padding-top: 20px;
}
.introduction .introText h2 {
  margin-bottom: 10px;
}
.introduction .introText p {
  margin-bottom: 20px;
}
button {
  background: #66CCDA;
  width: 200px;
  height: 75px;
  border-radius: 8px;
  color: #1C1C1C;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  margin-top: 50px;
  margin-right: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button:hover {
  background-color: #1C1C1C;
  color: #66CCDA;
}
.containerTwo {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-left: 30px;
  width: 90%;
}
.containerTwo .unit {
  width: 22%;
  margin-left: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  width: 25%;
}
.containerTwo .unit img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 225px;
}
.containerTwo .unit .unitText {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: white 2px solid;
  background-color: white;
  width: 225px;
  height: 250px;
  text-align: center;
  padding: 20px;
}
.containerTwo .unit p {
  padding: 10px;
}
.containerThree {
  width: 90%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-radius: 20px;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.containerThree .unit {
  width: 90%;
  margin: 20px;
  padding: 20px;
  width: 95%;
}
.containerThree .unit p {
  margin-top: 20px;
}
.bottomBtn {
  margin-top: 15px;
}
.introductionAbout {
  width: 90%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-radius: 20px;
  background-color: white;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.introductionAbout .aboutText {
  display: flex;
  flex-direction: column;
  margin: 75px;
  padding-top: 20px;
}
.introductionAbout .aboutText p {
  margin-bottom: 20px;
}
.aboutUsOne {
  display: flex;
  flex-wrap: flex;
}
.aboutUsTwo {
  display: flex;
  flex-wrap: flex;
}
.sideBar {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #FAC7BF;
  border-radius: 15px;
  justify-content: flex-end;
}
.sideBar p {
  margin-bottom: 20px;
}
.sideBar .btn {
  margin-left: 35px;
  margin-bottom: 20px;
}
img {
  width: 150px;
  display: flex;
  justify-items: space-around;
}
