/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  color: #424242;
}
html,
body {
  font-family: 'Raleway', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Raleway', sans-serif;
}
h1 {
  font-size: 2.8rem;
}
h2 {
  font-size: 2rem;
}
@media (max-width: 500px) {
  h2 {
    font-size: 2rem;
  }
}
h3 {
  font-size: 2rem;
}
@media (max-width: 500px) {
  h3 {
    font-size: 3rem;
  }
}
h4 {
  font-size: 1.3rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 1rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
@media (max-width: 500px) {
  p {
    font-size: 1.3rem;
  }
}
body {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.header {
  width: 100%;
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: space-between;
}
.header nav {
  display: flex;
  width: 500px;
  justify-content: flex-end;
  padding: 0 auto;
  align-items: center;
  margin-right: 30px;
}
@media (max-width: 500px) {
  .header nav {
    display: flex;
    flex-direction: column;
  }
}
.header nav a {
  text-decoration: none;
  border: #602350 solid 2px;
  width: 125px;
  height: 35px;
  align-items: center;
  text-align: center;
  padding: 5px;
  margin-right: 15px;
  background: #602350;
  color: #EDEDED;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 7px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}
.header nav a:hover {
  background-color: #FAC7BF;
  border-color: #FAC7BF;
  color: #602350;
}
@media (max-width: 500px) {
  .header nav a {
    width: 100px;
    height: 25px;
    margin-top: 2px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
  }
}
footer {
  border: #424242 solid 2px;
  width: 100%;
  margin: 0 auto;
  height: 75px;
  background-color: #424242;
  color: #FAC7BF;
}
@media (max-width: 500px) {
  footer {
    margin-top: 10%;
  }
}
footer p {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  margin-right: 20px;
}
body {
  background-color: #EDEDED;
}
.introduction {
  width: 90%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-radius: 20px;
  background-color: white;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(28, 28, 28, 0.2), 0 6px 20px 0 rgba(28, 28, 28, 0.19);
}
@media (max-width: 500px) {
  .introduction {
    height: 350px;
    padding: 10px;
    text-align: center;
  }
}
.introText {
  display: flex;
  flex-direction: column;
  margin: 40px;
  padding-top: 20px;
  margin-bottom: 10%;
}
@media (max-width: 500px) {
  .introText {
    padding: 0px;
    margin: 10px;
  }
}
.introText h2 {
  margin-bottom: 10px;
}
.introText p {
  margin-bottom: 20px;
}
.Logo {
  border: white solid 1px;
  background-color: white;
  border-radius: 7px;
  width: 270px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin-left: 40px;
  font-weight: bold;
  box-shadow: 0 4px 8px 0 rgba(28, 28, 28, 0.2), 0 6px 20px 0 rgba(28, 28, 28, 0.19);
}
@media (max-width: 500px) {
  .Logo {
    height: 90px;
    width: 800px;
  }
}
button {
  background: #66CCDA;
  width: 200px;
  height: 75px;
  border-radius: 8px;
  color: #1C1C1C;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  margin-top: 50px;
  margin-right: 20px;
  box-shadow: 0 4px 8px 0 rgba(28, 28, 28, 0.2), 0 6px 20px 0 rgba(28, 28, 28, 0.19);
}
button:hover {
  background-color: #1C1C1C;
  color: #FAC7BF;
}
@media (max-width: 500px) {
  button {
    width: 110px;
  }
}
.containerTwo {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-left: 30px;
  width: 90%;
  margin-bottom: 50px;
}
@media (max-width: 500px) {
  .containerTwo {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 auto;
  }
}
.containerTwo .unit {
  margin-left: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  width: 225px;
}
@media (max-width: 500px) {
  .containerTwo .unit {
    margin-top: 10%;
    width: 80%;
  }
}
.containerTwo .unit img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 225px;
}
@media (max-width: 500px) {
  .containerTwo .unit img {
    display: none;
  }
}
.containerTwo .unit .unitText {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: white 2px solid;
  background-color: white;
  width: 225px;
  height: 250px;
  text-align: center;
  padding: 20px;
}
@media (max-width: 500px) {
  .containerTwo .unit .unitText {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 315px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .containerTwo .unit h2 {
    margin: 0 auto;
  }
}
.containerTwo .unit p {
  padding: 10px;
}
@media (max-width: 500px) {
  .containerTwo .unit p {
    padding: 0 auto;
  }
}
.aboutUsOne {
  display: flex;
  flex-wrap: flex;
  justify-content: space-evenly;
  margin: 50px;
}
@media (max-width: 500px) {
  .aboutUsOne {
    flex-wrap: wrap;
  }
}
.aboutUsOne .proText {
  text-align: center;
  width: 152px;
}
.aboutUsOne .proText h3 {
  margin-top: 25px;
  margin-bottom: 10px;
  margin-right: 22px;
  margin-left: 22px;
  width: 110px;
}
.aboutUsOne .proText h4 {
  margin-bottom: 20px;
}
.aboutUsOne .proText a {
  font-size: 1.3rem;
  text-decoration: none;
  color: #424242;
}
.aboutUsOne .proText img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media (max-width: 500px) {
  .aboutUsOne .proText img {
    margin-top: 10px;
  }
}
.aboutUsTwo {
  display: flex;
  flex-wrap: flex;
  justify-content: space-around;
  margin: 50px;
}
@media (max-width: 500px) {
  .aboutUsTwo {
    flex-wrap: wrap;
  }
}
.aboutUsTwo .proText {
  text-align: center;
  width: 150px;
}
.aboutUsTwo .proText h3 {
  margin-top: 25px;
  margin-bottom: 10px;
  margin-right: 22px;
  margin-left: 22px;
  width: 100px;
}
.aboutUsTwo .proText h4 {
  margin-bottom: 20px;
}
.aboutUsTwo .proText a {
  font-size: 1.3rem;
  text-decoration: none;
  color: #424242;
}
.aboutUsTwo .proText img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.fa-github {
  font-weight: 50px;
}
.profile {
  margin-top: 30px;
}
.profile h1 {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .profile h1 {
    margin-top: 10px;
  }
}
img {
  width: 150px;
  display: flex;
  justify-items: space-around;
}
